/**/
.borde{
	border:1px solid black;
}
/**/
/***************************GENERAL****************************************/
@font-face {
	font-family: "Regular";
	src: url('../fonts/eras-medium-itc-webfont.eot');
	src: local('☺'), url('../fonts/eras-medium-itc-webfont.woff') format('woff'), url('../fonts/eras-medium-itc-webfont.ttf') format('truetype'), url('../fonts/eras-medium-itc-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {
	
}
}
html, body  {
    margin: 0;
    height: 100%;
    min-height: 100%;
}
body{
	font-family:"Regular",Georgia, "Times New Roman", Times, serif;
	color:#4f4f4f !important;
}
.home{	
	background:url(../img/Private-party-table-setting.jpg) fixed no-repeat;
	background-size:cover;
}
.empresa{
	background:url(../img/rojo.jpg) fixed no-repeat;
	background-size:cover;
}
.catalogo{
	background:url(../img/yellow.jpg) fixed no-repeat;
	background-size:cover;
}
.contacto{
	background: url(../img/copas.jpg) fixed no-repeat;
    background-size: cover;
}
a:not(.custom-nav) {
	color:#333;
}
.large-font{
	font-size:32px;
}
.medium-font{
	font-size:24px;	
}
.small-font{
	font-size:18px;	
}
/*81c348 verde*/
/*************************************************************************/
/***************************nav*******************************************/
header{
	position:relative;
	z-index: 1000 !important;
}
.menu-section{	
}
.logo {
	height:5.5rem;
	padding-top:5px;
}
.brand{	
	position:absolute;
	top:2.5rem;
	right:150px;
	font-size:30px;
}
.social-media{
	position:absolute;
	top:3rem;
	right:25px;
}
#cssmenu {	
  border: none;
  border: 0px;
  margin: 0px;
  padding-top: 15px;
  font: 67.5%;
  font-size: 25px;
  width: 100%;
}
#cssmenu ul {
  height:6rem !important;
  background:url(../img/headerBackground.png);
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  font-size:25px;
  font-weight:normal;
  float: left;
  padding: 0px;
}
.menu-section{
  line-height:6rem;
}
#cssmenu li a {
  height:6rem;
  display: block;
  font-weight: normal;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #4f4f4f;
}
#cssmenu ul ul a {
  color: #4f4f4f;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
	/*main link*/
  background: #84bd68;
  color: #000;
  text-decoration: none;
}
.no-hover:hover {
	background: none !important;
}

#cssmenu li ul {
	/*lower hover*/
	/*violeta 857bb1*/
	/*blanco f4f4f4*/
  background: #84bd68;  
  display: block;
  opacity:0;
  -webkit-transition:opacity 0.3s ease-out;
  height: 0px !important;
  overflow:hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
}
#cssmenu li:hover ul {
  opacity:1;
  height:auto !important;
}
#cssmenu li li {
  background: url('sub_sep.gif') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  padding-top:8px !important;
  display: block;
  height: 45px;
  font-size: 16px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a { 
/*sublink*/
  color:#000;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}
@media only screen and (max-width: 64.063em){
	.logo {
	}
	.brand{
		display:none;		
	}
}
/*width: 40.063em; }


  width: 64.063em; }

  width: 90.063em; }

  width: 120.063em; }*/
/*************************************************************************/

/***************************ARTICLE*******************************************/
section {
	position:absolute;
	top:0;
	left:0;
	height:100%;
}
article{
	padding-top:8rem;
}
#side{
	background:#FFF;
	opacity:0.9;
	min-height:100% !important;
	z-index:200 !important;
}
#side h1, #side h2, #side p{
	font:inherit !important;
}
#side h1{
	font-size:120% !important;
}
#side h2{
	font-size:100% !important;
}
#side p { 
	font-size:100% !important;
}
.column{
	float:left !important;
}
/*6fad6f*/
/**************************************************************************//***************************EMPRESA****************************************/

/**************************************************************************/
/***************************CATALOGO***************************************/
#catalogo .wrap-thumbs{
}
#catalogo .wrap-thumbs a {
}
.panel {
	font-family:inherit;
}
/**************************************************************************/
/***************************CONTACTO***************************************/
#contacto form{
	color:black;
	padding-left:5px;
	padding-right:15px;
}
#contacto form input:not(#submit){
	width:100%;
	height:30px;
	margin-bottom:15px;	
	padding-left:30px;
}
#contacto form textarea{
	width:100%;
	height:150px;
	padding-top:5px;
}
#contacto form input:nth-child(1){
	background:url(../img/icon-from.jpg) no-repeat left;
}
#contacto form input:nth-child(2){
	background:url(../img/icon-email.jpg) no-repeat left;
}
#contacto form input:nth-child(3){
	background:url(../img/icon-subject.jpg) no-repeat left;
}
#contacto form textarea{
	background:url(../img/icon-msg.jpg) no-repeat left top;
	resize:none;	
	text-indent:30px;
	line-height:20px;
}
#contacto form input#submit{
	width:auto;
	color:#333;
	background: #6fad6f;
	border:none;
}

/**************************************************************************/
