/**/
.borde{
	border:1px solid black;
}
.table{
	display:table;
}
.table-cell{
	display:table-cell;
	height:100%;
	vertical-align:middle;
}
/**/
/***************************GENERAL****************************************/
@font-face {
	font-family: "Regular";
	src: url('../fonts/eras-medium-itc-webfont.eot');
	src: local('☺'), url('../fonts/eras-medium-itc-webfont.woff') format('woff'), url('../fonts/eras-medium-itc-webfont.ttf') format('truetype'), url('../fonts/eras-medium-itc-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html {	
    min-height: 100%;
	position:relative;
	color:#fafafa !important;
}
body  {
	position:relative !important;
    margin: 0;
    height: 100% !important;	
	font-family:"Regular",Georgia, "Times New Roman", Times, serif;
	color:#333333 !important;
}
span{
	color:#f4f4f4 !important;
}
.home{	
	background:url(../img/catalogobg.jpg) fixed no-repeat;
	background-size:cover;
}
.empresa{
	background:url(../img/empresabg.jpg) fixed no-repeat;
	background-size:cover;
}
.catalogo{
	background:url(../img/catalogobg.jpg) fixed no-repeat;
	background-size:cover;
}
.contacto{
	background: url(../img/copas.jpg) fixed no-repeat;
    background-size: cover;
}
a:not(.custom-nav) {
	color:#fafafa;
}
.large-font{
	font-size:32px;
}
.medium-font{
	font-size:24px;	
}
.small-font{
	font-size:18px;	
}
.pop-up {
	display:none !important;
	position:absolute;
	top:50px;
	left:50px;
	background:red;
	width:250px;
	height:250px;
}
/*81c348 verde*/
/*************************************************************************/
/***************************nav*******************************************/
header{
	position:relative;
	z-index: 1000 !important;
}
.logo {
	height:5.5rem;
	padding-top:5px;
}
.brand{	
	position:absolute;
	top:2.5rem;
	right:150px;
	font-size:30px;
}
.social-media{
	position:absolute;
	top:2.5rem;
	right:25px;
}
.social-media a, .social-media-small a{
	opacity:1;
	transition:opacity .3 ease-out;
	transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}
.social-media a:hover, .social-media-small a:hover{
	opacity:0.5;
}
#cssmenu {	
  border: none;
  border: 0px;
  margin: 0px;
  padding-top: 15px;
  font: 67.5%;
  font-size: 25px;
  width: 100%;
}
#cssmenu ul {
  height:6rem !important;
  background-color: rgba(50,60,72, .82);
  list-style: none;
  margin: 0;
  padding: 0;
}
#cssmenu li {
  font-size:20px;
  font-weight:normal;
  float: left;
  padding: 0px;
}
.menu-section{
  line-height:6rem;
}
#cssmenu li a {
  height:6rem;
  display: block;
  font-weight: normal;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: #4f4f4f;
}
#cssmenu ul ul a {
  color: #4f4f4f;
}
#cssmenu li > a,
#cssmenu ul li > a {
	-webkit-transition: background 0.3s ease-in;
	-moz-transition: background 0.3s ease-in;
	-ms-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
	transition: background 0.3s ease-in;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a{
	/*main link*/
  background:#f4f4f4;
  text-decoration: none;
}
#cssmenu li > a:hover span,
#cssmenu ul li:hover > span,
#cssmenu li.side-has-sub:hover {
	color:#333333 !important;
}
.no-hover:hover {
	background: none !important;
}

#cssmenu li ul {
	/*lower hover*/
	/*violeta 857bb1*/
	/*blanco f4f4f4*/
  background:#f4f4f4;  
  display: block;
  opacity:0;
  -webkit-transition:opacity 0.3s ease-out;
  height: 0px !important;
  overflow:hidden;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
}
#cssmenu li:hover ul {
  opacity:1;
  height:auto !important;
}
#cssmenu li li {
  background: url('sub_sep.gif') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  padding-top:8px !important;
  display: block;
  height: 45px;
  font-size: 16px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a { 
/*sublink*/
  color:#000;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}
@media only screen and (max-width: 64.063em){
	.logo {
	}
	.brand{
		display:none;		
	}
}
/*width: 40.063em; }

  width: 64.063em; }

  width: 90.063em; }

  width: 120.063em; }*/
.custom-nav{
	background:#333;
	height:50px;
}
.custom-nav a, .custom-nav span, .sb-slidebar a {
	color:#FFF;
}
.custom-nav div:nth-of-type(1){
	padding-left:0;
	padding-top:15px;
}
.custom-nav div:nth-of-type(2){
	padding-top:13px;		
}
.custom-nav div:nth-of-type(2) span{
	font-size:120%;	
}
.custom-nav div:nth-of-type(3){
	padding-top:8px;
	padding-right:0 !important;		
}
.custom-nav div:nth-of-type(3) span{
	font-size:12px;
	white-space:nowrap;
}
ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
.sb-slidebar ul{
	padding:50px 0 0 0;
}
.sb-slidebar ul li {
	border-bottom:1px solid #333;
	padding-left:15px;
}
.sb-slidebar ul li:hover {
	background:#333;
}
.side-sub-menu{
	padding:0 !important;
	padding-left:5px !important;
	font-size:90%;
	color:white;
	display:none;
}
/*************************************************************************/

/***************************ARTICLE*******************************************/
section {
	position:absolute;
	top:0;
    left:0;
    right:0;
	min-height:100%;
}
section{
	position:absolute;
	top:0;
    left:0;
    right:0;
	min-height:100%;
}
article{
	padding-top:8rem;
}
#side{
	opacity:1;
	background-color: rgba(255,255,255, 0.9);
	z-index:200 !important;
	min-height:100% !important;
	padding-left:25px;
	padding-right:25px;
	padding-bottom:15px;
}
#side h1, #side h2, #side p{
	font:inherit !important;
}
#side h1{
	font-size:150% !important;
}
#side h2{
	font-size:120% !important;
}
#side p { 
	font-size:100% !important;
}
.column{
	float:left !important;
}
/*6fad6f*/
/**************************************************************************//***************************EMPRESA****************************************/

/**************************************************************************/
/***************************CATALOGO***************************************/

.panel {
	font-family:inherit;
	padding: 5px !important;
	background:url(../img/headerBackground.png);
	border:none !important;
}
#catalogo #side h6{
	margin-top:0;
	max-width:150px;
	margin-left:auto;
	margin-right:auto;
}
#catalogo article:not(#side) h6{
	margin-top:0;
	max-width:304px;
	margin-left:auto;
	margin-right:auto;
}
/**************************************************************************/
/***************************CONTACTO***************************************/
#contacto form{
	color:black;
	padding-left:5px;
	padding-right:15px;
}
#contacto form input:not(#submit){
	width:100%;
	height:30px;
	margin-bottom:15px;	
	padding-left:30px;
}
#contacto form textarea{
	width:100%;
	height:150px;
	padding-top:5px;
}
#contacto form input:nth-child(1){
	background:url(../img/sender.png) no-repeat left;
}
#contacto form input:nth-child(2){
	background:url(../img/sobre.png) no-repeat left;
}
#contacto form input:nth-child(3){
	background:url(../img/title.png) no-repeat left;
}
#contacto form textarea{
	background:url(../img/content.png) no-repeat left top;
	resize:none;	
	text-indent:24px;
	line-height:20px;
}
#contacto form input#submit{
	width:auto;
	color:#fafafa;
	background-color: rgba(50,60,72, .82);
	border:none;
	width:25%;
}

/**************************************************************************/

.view {
	border:transparent 10px solid;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
	min-height:190px;
	max-height:200px;
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
	width:100%;
	height:auto;
    display: block;
    position: relative
}
#side .view {
}
#side .view.no-focus img {
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#side .view.focus img {
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
#side .view.no-focus:hover img {
	opacity: 100;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(50,60,72, 0.82);
    margin: 20px 0 0 0
}
.view p {
    font-family: Regular, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 5px;
    text-align: center
}
@media only screen and (max-width: 40.063em){
	#empresa section, #contacto section{
		background-color: rgba(255,255,255, .70);
	}
	#content {
		padding-top:5px;
	} 
	#side{
		background:none;
		padding-top:60px;		
	}
	#catalogo #side{
		background:none;
	}
	.small-rubro{
		background:#333333;
		color:#f4f4f4;
		margin:5px 0 5px 0;
		padding:5px 0 5px 0;
		float:left;
	}
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 5px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

/***************************************/
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    /*background-color: rgba(219,127,8, 0.7); */
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/*.view-first:hover img { 
    transform: scale(1.1);
} */
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.5s;
}
/*animacion*/
/*.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}*/
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
/*.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}*/
.view-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

/**********************/
	
.white-popup {
	position: relative;
	background:#FAFAFA;
	padding: 20px;
	width: auto;
	max-width: 500px;
	margin: 20px auto;
}	
.white-popup img{
	padding: 15px;
}	
.white-popup p{
	color:#333333;
}	
/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}	